<meta name="viewport" content="width=device-width, initial-scale=1.0">

<% content_for :title do 'YourCandidates.org.uk - Help' end %>

<%= render partial: "header" %>

<style>

.navbar-nav > li > .dropdown-menu { width: 100px; }

.navbar-nav {
    margin: 0;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

</style>

<div class="container">
<div class="row" style="max-width: 900px">

  <p>&nbsp;</p>
  <h1>About</h1>
  <p>&nbsp;</p>

  <ul class="list-inline help-questions">
    <li class="help-q">What is YourCandidates.org.uk about?</li>
    <li class="help-a">Many people don't know who they can vote for to represent them in parliament before seeing the ballot paper. And much of the information they have about their candidates comes from marketing, giving an advantage candidates who can pay for it. This website aims to change this with the power of open data, by providing a source of information about candidates and party policies that is specific to every single constituency. YourCandidates.org.uk is aimed at the UK parliamentary election in May 2015.
    <li class="help-q">How does it work?</li>
    <li class="help-a" style="margin-bottom:0px">YourCandidates.org.uk works by making the content of open data sources easily readable and accessible. As such, we depend on the generosity of the people who work to make these databases available and to improve their quality. The data sources currenly in use are the following:</li>
		<ul style="list-style-type:disc">
		  <li class="help-a-sm"><a href="https://yournextmp.com/">YourNextMP.com</a> is an open, crowdsourced database of general election candidates. <strong>If you see any errors or omissions the personal details of candidates, you can help improve the database through <A href="https://yournextmp.com/">YourNextMP.com</a>.</strong></li>
                  <li class="help-a-sm"><a href="http://electionforecast.co.uk/">electionforecast.co.uk</a> is a collaboration between UAE, LSE and Durham, that combines several polls and applies modelling to produce constituency-specific forecasts. Naturally, their forecasts should be considered uncertain, andu users should remember that other a number of highly developed forecasts are available that point that to differing results. The predictions from electionforecast.co.uk, and the information displayed on YourCandidates.org.uk, are updated about daily. The ranges displayed on the website are the 90% confidence intervals.</li>
		  <li class="help-a-sm"><a href="http://twittelection.co.uk/">TwittElection</a> produces <a href="https://twitter.com/TwittElection/lists">Twitter lists</a> of election candidates.</li>
		  <li class="help-a-sm">The list of party policies is initially based on our own research, with a growing number of parties and individuals supplying us with this information. If you as an individual or a party would like to change or add to the policies that are displayed on the website, please get in touch with us on email. We aim to keep this information up to date as the party manifestos are published.</li>
		</ul>
		  <li class="help-a" style="margin-bottom:40px">The data of YourNextMP.com is licensed under site under the terms of the Creative Commons license <a href="https://creativecommons.org/licenses/by-sa/4.0/">Attribution-ShareAlike (CC-BY-SA)</a>. The candidate images are linked from other sites, and the authors of this website claim no copyright over them.</li>
    <li class="help-q">Can I add information about policies?</li>
    <li class="help-a">The value of the website depends on the having the right information about policies to present to users, so we welcome individual candidates as well as representatives of parties to send us information about their policy stances. To do so, use <a href="/contact_policy">this form</a>.</li>
    <li class="help-q">Who built the site?</li>
    <li class="help-a">The site has been developed by Aleksi Knuutila, with the help of several friends. Please do get in touch with us, via <a href="mailto:mail@yourcandidates.org.uk">mail@yourcandidates.org.uk</a>, our <a href="/contact">contact form</a>, or <a href="http://www.twitter.com/UKCandidates">@UKCandidates on Twitter</a>.</li>
  </ul>

</div>
</div>

<%= render partial: "footer" %>
