<meta name="viewport" content="width=device-width, initial-scale=1.0">

<% content_for :title do 'YourCandidates.org.uk - Help' end %>

<%= render partial: "header" %>

<style>

.navbar-nav > li > .dropdown-menu { width: 100px; }

.navbar-nav {
    margin: 0;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}



</style>


<div id="nav-xs">
  <div class="navbar">
    <div class="row">
      <div class="col-xs-12">
	<ul style="float: left;" class="nav navbar-nav navbar-left">
	  <li><p style="padding-left: 15px;" id="topmenutext" class="navbar-text">Personal links</p></li>
	</ul>
	<ul style="float: right; padding-right: 15px;" class="nav navbar-nav navbar-right">
	  <li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Choose comparison <span class="caret"></span></a>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="javascript: $('#personalTab').tab('show'); $('#topmenutext').text('Personal links')">Personal links</a></li>
	    <li><a href="javascript: $('#nhsTab').tab('show'); $('#topmenutext').text('The NHS');">The NHS</a></li>
	    <li><a href="javascript: $('#economyTab').tab('show'); $('#topmenutext').text('Economy and taxes');">Economy and taxes</a></li>
	    <li><a href="javascript: $('#immigrationTab').tab('show'); $('#topmenutext').text('Immigration');">Immigration</a></li>
	    <li><a href="javascript: $('#benefitsTab').tab('show'); $('#topmenutext').text('Benefits and pensions');">Benefits and pensions</a></li>
	    <li><a href="javascript: $('#lawTab').tab('show'); $('#topmenutext').text('Rights and crime');">Rights and crime</a></li>
	    <li><a href="javascript: $('#twitterTab').click()">Candidate twitter feeds</a></li>
	  </ul>
	  </li>
	</ul>
      </div><!-- /.navbar -->
    </div>
  </div>
</div>
