<hr style="margin-bottom: 12px;">

<div class="hidden-xs">
  <div class="footer" style="text-align: center;">
    <ul class="list-inline">
        <li><a href="/about">Help</a></li>
        <li><a href="/about">Contact us</a></li>
        <li><a href="/about">Copyright</a></li>
        <li><a href="https://www.facebook.com/YourCandidates2015">Facebook</a></li>
        <li><a href="https://twitter.com/UKcandidates">Twitter</a></li>
        <li>Source of data: <a href="http://www.yournextmp.com">YourNextMP</a></li>
    </ul>
  </div>
</div>
<div class="visible-xs">
  <div class="container">
    <div class="row" style="margin-bottom: 5px;">
      <div class="footer-xs">
        <ul class="list-inline">
          <li><a href="/about">Help</a></li>
          <li><a href="/about">Contact us</a></li>
          <li><a href="/about">Copyright</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="footer-xs">
        <ul class="list-inline">
            <li><a href="https://www.facebook.com/YourCandidates2015">Facebook</a></li>
            <li><a href="https://twitter.com/UKcandidates">Twitter</a></li>
            <li>Source of data: <a href="http://www.yournextmp.com">YourNextMP</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
