<hr style="margin-bottom: 12px;">

<div class="hidden-xs">
  <div class="footer" style="text-align: center;">
    <ul class="list-inline">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/privacy">Privacy policy</a></li>
    	<li style="padding-right:0"><span class="fa-stack fa-lg"><a href="https://www.facebook.com/YourCandidates2015"><i class="fa fa-circle fa-stack-2x fa-circle-red"></i><i class="fa fa-facebook fa-stack-1x fa-icon-white"></i></a></span></li>
    	<li style="padding-left:0"><span class="fa-stack fa-lg"><a href="https://twitter.com/UKcandidates"><i class="fa fa-circle fa-stack-2x fa-circle-red"></i><i class="fa fa-twitter fa-stack-1x fa-icon-white"></i></a></span></li>
        <li>Sources of data: <a href="http://www.yournextmp.com">YourNextMP</a>, <a href="http://electionforecast.co.uk/">electionforecast.co.uk</a></li>
    </ul>
  </div>
</div>

<div class="visible-xs">
  <div class="container">
    <div class="row" style="margin-bottom: 5px;">
      <div class="footer-xs">
        <ul class="list-inline">
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact us</a></li>
          <li><a href="/privacy">Privacy policy</a></li>
    	  <li style="padding-right:0"><span class="fa-stack fa-lg"><a href="https://www.facebook.com/YourCandidates2015"><i class="fa fa-circle fa-stack-2x fa-circle-red"></i><i class="fa fa-facebook fa-stack-1x fa-icon-white"></i></a></span></li>
          <li style="padding-left:0"><span class="fa-stack fa-lg"><a href="https://twitter.com/UKcandidates"><i class="fa fa-circle fa-stack-2x fa-circle-red"></i><i class="fa fa-twitter fa-stack-1x fa-icon-white"></i></a></span></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="footer-xs">
        <ul class="list-inline">
            <li>Sources of data: <a href="http://www.yournextmp.com">YourNextMP</a>, <a href="http://electionforecast.co.uk/">ElectionForecast</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

