<hr>

<div class="hidden-xs">
  <div class="footer" id="footer">
    <ul class="list-inline">
        <li>Help</li>
        <li>Other resources</li>
        <li>Contact us</li>
        <li>Copyright</li>
        <li>Privacy & cookies</li>
        <li>Link to us</li>
        <li>Facebook</li>
    </ul>
  </div>
</div>
<div class="visible-xs">
  <div class="container">
    <div class="row" style="margin-bottom: 5px;">
      <ul class="list-inline" style="margin-left: 20px;">
        <li>Help</li>
        <li>Other resources</li>
        <li>Contact us</li>
      </ul>
    </div>
    <div class="row">
      <ul class="list-inline" style="margin-left: 20px;">
        <li>Copyright</li>
        <li>Privacy & cookies</li>
        <!-- <li>Link to us</li> -->
        <li>Facebook</li>
      </ul>
    </div>
  </div>
</div>
