<meta id="testViewport" name="viewport" content="width=device-width, initial-scale=1.0">
<script>
if (screen.width < 800) {
$('#testViewport').attr('content','width=800');
}
</script>

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>

<div class="header">
  <div class="image-bg-fluid-height">
    <div class="bgimage-text">
      <p class="bgimage-header-text" id="fittext1">Who can you vote for?</p>
<!--
      <h2 class="bgimage-smaller-text">Compare and connect with</h2><br><h2 class="bgimage-smaller-text">the general election candidates</h2><br><h2 class="bgimage-smaller-text">of your area</h2>
-->
      <h2 class="bgimage-smaller-text" id="fittext2">Compare and connect with the candidates for parliament of your area</h2>
    </div>
  </div>
</div>

<script>
  $(".image-bg-fluid-height").backstretch('<%= asset_path('indexbackgroundimage.jpg') %>');
</script>

<script>
  jQuery("#fittext1").fitText();
  jQuery("#fittext2").fitText();
</script>


<form class="form-inline" action="/candidates/index" method="get">
  <div id="error-message">The post code you entered is not valid. Please try again.</div>
  <div class="frontpage-postcode">
  	Start by entering your UK postcode:
  </div>
  <div class="frontpage-form">
    <input type="text" class="form-control input-lg" id="q" name="q" placeholder="SW1A 2AA">
  <button type="submit" class="btn btn-primary btn-lg">Show candidates</button><br /><br /><br />
  <a href="/constituencies" id="constituency-list-link">
    Or select your area from a list
  </a>
  </div>
</form>

<script>
  var error = window.location.href.slice(window.location.href.indexOf('?')+1)
  if (error == 'error') {
    $('#error-message').css('display', 'inline-block')
  }
</script>

<div class="footer">
  <hr>
  <ul>
	<li class="inline-list">Help</li>
	<li class="inline-list">Other resources</li>
	<li class="inline-list">Contact us</li>
	<li class="inline-list">Copyright</li>
	<li class="inline-list">Privacy & cookies</li>
	<li class="inline-list">Link to us</li>
	<li class="inline-list">Facebook</li>
  </ul>
</div>
