<div class="header">
  <div class="image-bg-fluid-height">
  	<div class="transbox">
    <p class="otsikko">Who can you vote for?</p>
	<p class="teksti">YourCandidates helps you compare and connect with the general election candidates of your area</p>
	</div>
  </div>
</div>

<form class="form-inline" action="/candidates/index" method="get">
  <div class="frontpage-postcode">
  	Start by entering your UK postcode
  </div>
  <div class="frontpage-form">
    <input type="text" class="form-control input-lg" id="q" name="q" placeholder="SW1A 2AA">
  <button type="submit" class="btn btn-primary btn-lg">Search</button>
  </div>
</form>

<div class="footer">
  <hr>
  <ul>
	<li class="inline-list">Help</li>
	<li class="inline-list">Other resources</li>
	<li class="inline-list">Contact us</li>
	<li class="inline-list">Copyright</li>
	<li class="inline-list">Privacy & cookies</li>
	<li class="inline-list">Link to us</li>
	<li class="inline-list">Facebook</li>
  </ul>
</div>
