<div class="header">
  <div class="image-bg-fluid-height">
  	<div class="transbox">
    <p class="otsikko">Your candidates for parliament 2015</p>
	<p class="teksti">Make an informed choice based on what matters to you</p>
	</div>
  </div>
</div>

<form action="/candidates/index" method="get">
  <div class="form-group">
    <label for="exampleInputEmail1">Post code</label>
    <input type="text" class="form-control" id="q" name="q" placeholder="Enter postcode">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

