<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>

<div class="header">
  <div class="image-bg-fluid-height">
    <div class="bgimage-text">
      <p class="bgimage-header-text" id="fittext1">Who can you vote for?</p>
<!--
      <h2 class="bgimage-smaller-text">Compare and connect with</h2><br><h2 class="bgimage-smaller-text">the general election candidates</h2><br><h2 class="bgimage-smaller-text">of your area</h2>
-->
      <h2 class="bgimage-smaller-text" id="fittext2">Compare and connect with the candidates for parliament of your area</h2>
    </div>
  </div>
</div>

<script>
  $(".image-bg-fluid-height").backstretch('<%= asset_path('indexbackgroundimage.jpg') %>');
</script>

<script>
  jQuery("#fittext1").fitText();
  jQuery("#fittext2").fitText();
</script>

<script>

function redirectFun(position)
{
window.location.replace("search?long="+position.coords.longitude.toString()+"&lat="+position.coords.latitude.toString());
}

function fail()
{
   // Could not obtain location
}
</script>

<div class="container">
  <div class="row">
    
    <form class="form-inline" action="/search" method="get">
      <div id="error-message">That postcode didn't work, please try again.</div>
      <div id="error2-message">We couldn't locate you.</div>
      <div class="frontpage-postcode">
      	Start by entering your UK postcode:
      </div>
      <div class="form-group">
        <input type="text" class="form-control input-lg" id="q" name="q" placeholder="SW1A 2AA">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Show candidates</button><br /><br />

<div class="hidden-xs">
      <a href="/constituencies" id="constituency-list-link">
        Or select your area from a list
      </a>
<!--
      <div style="margin-top: 20px;"
       <span style="font-size: 16px;">You can also </span><a href="/constituencies" id="constituency-list-link">select your area from a list</a><span id="locationlink" style="font-size: 16px; display: none;"> or <a onclick="navigator.geolocation.getCurrentPosition(redirectFun, fail);" id="location-link">use your current location</a></span>.
      </div>
-->
</div>
<div class="visible-xs">
  <div style="margin-left: 15px; margin-right: 15px;">
       <span style="font-size: 20px;">You can also </span><a href="/constituencies" style="font-size: 20px;" id="constituency-list-link">select your area from a list</a><span id="locationspan" style="font-size: 20px; display: none;"> or <a onclick="navigator.geolocation.getCurrentPosition(redirectFun, fail);" id="location-link">use your current location</a></span>.
  </div>
</div>

    </form>

<script>
if( navigator.geolocation )
{
  $('#locationspan').css('display','inline')
}
</script>

  </div>
</div>

<script>
  var error = window.location.href.slice(window.location.href.indexOf('?')+1)
  if (error == 'error') {
    $('#error-message').css('display', 'inline-block')
  }
  var err2 = window.location.href.slice(window.location.href.indexOf('?')+1)
  if (err2 == 'err2') {
    $('#error2-message').css('display', 'inline-block')
  }
</script>

<div style="margin-top: 30px;"></div>

<%= render partial: "footer" %>
