<!-- HTML for top of each candidate box -->

<div class="boxheader">
  <% if c['image_url'] %>
    <img src="<%= c['image_url'] %>" class="candidate-image">
  <% else %>
    <i class="fa fa-user fa-5x candidate-fa-index"></i>
  <% end %>
  
  <h3 class="candidate-name"><%= c['name'] %></h3>
  <%= c['party'] %>

  <br/>
  
  <% if c['MPid'] %>Current MP<% end %>
  
  <br/>
  
  <div style="clear: left;"></div>
</div>
