<!-- HTML for top of each candidate box -->

<% if c['party_image_uri'] %>
  <img src="<%= c['party_image_uri'] %>" class="party-image-index">
<% else %>
  <img src="/assets/rosette.png">
<% end %>
<!-- <a href="#personalInfo" data-toggle="tab"><%= c['name'] %></a><br/> -->
<%= c['name'] %><br/>
Candidate for <%= c['party_memberships']['2015']['name'] %>
<br/><br/>

<div style="clear: left;"></div>

Party policy:
