<!-- HTML for top of each candidate box -->

<% if c['image_url'] %>
  <img src="<%= c['image_url'] %>" class="candidate-image-index">
<% else %>
  <i class="fa fa-user fa-5x candidate-fa-index"></i>
  <!-- <span class="glyphicon glyphicon-user candidate-usericon-index" aria-hidden="true"></span> -->
<% end %>

<%= c['party_memberships']['2015']['name'] %> policy<br/>

<br/>

<div style="clear: left;"></div>
