<div class="index-footer">
  <hr>
  <ul> 
        <li class="inline-list">Help</li>
        <li class="inline-list">Other resources</li>
        <li class="inline-list">Contact us</li>
        <li class="inline-list">Copyright</li>
        <li class="inline-list">Privacy & cookies</li>
        <li class="inline-list">Link to us</li>
        <li class="inline-list">Facebook</li>
  </ul>
</div>
