<div id="topheader" class="navbar navbar-inverse index-header navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">  
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-link-colors" href="/">YourCandidates</a>
    </div>
    <div class="navbar-collapse collapse no-transition">
      <ul class="nav navbar-nav">
        <ul class="nav navbar-nav navbar-colors">
          <li><a href="/constituencies/" class="navbar-link-colors">Constituencies</a></li>
          <li><a href="/faq" class="navbar-link-colors">FAQ</a></li>
        </ul>
      </ul>
    </div>
  </div>
</div>
