<div id="topheader" class="navbar navbar-inverse index-header navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">  
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-link-colors" href="/">YourCandidates</a>
    </div>
    <div class="navbar-collapse collapse no-transition">
      <ul class="nav navbar-nav">
        <ul class="nav navbar-nav navbar-colors">
          <li><a href="/constituencies/" class="navbar-link-colors">Constituencies</a></li>
          <li><a href="/help/" class="navbar-link-colors">Help</a></li>
          <li style="padding-left:30px"><span class="fa-stack fa-lg"><a href="https://www.facebook.com/YourCandidates2015"><i class="fa fa-circle fa-stack-2x fa-circle-red"></i><i class="fa fa-facebook fa-stack-1x fa-icon-white"></i></a></span></li>
          <li><span class="fa-stack fa-lg"><a href="https://twitter.com/UKcandidates"><i class="fa fa-circle fa-stack-2x fa-circle-red"></i><i class="fa fa-twitter fa-stack-1x fa-icon-white"></i></a></span></li>
        </ul>
      </ul>
    </div>
  </div>
</div>
