<div id="topheader" class="navbar navbar-inverse index-header" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">  
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">YourCandidates</a>
    </div>
    <div class="navbar-collapse collapse no-transition">
      <ul class="nav navbar-nav">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/constituencies/">Constituencies</a></li>
          <li><a href="/about/">About</a></li>
        </ul>
      </ul>
    </div>
  </div>
</div>
