<% if policies.respond_to?('each') %>
  <% policies.each do |pol| %>
    <%= pol[0] %>
  <% end %>
  <% policies.each do |pol| %>
    <% if pol[1] and pol[1] != '' %>
      <a target="_blank" class="external-link" href="<%= pol[1] %>"><i class="fa fa-external-link"></i></a>
    <% end %>
  <% end %>
<% else %>
  <%= policies %>
<% end %>
