.listbox {
    border-radius: 5px;
    background-color: #b0c4de;
}

.col-md-3 {
    padding-left: 5px;
    padding-bottom: 25px;
}

.row {
  margin-bottom: 25px;
}

.navbar {
  background-color: #b0c4de;
  height: 90px;
}

.candidate-image-index {
  float: left;
  width: auto;
  height: 5em;
  margin-right: 0.5em;
}

.candidate-fa-index {
  float: left;
  width: auto;
  margin-right: 0.12em;
  max-heigth: 1em;
}

p.candidate-content-index {
  margin-top: 5px;
}
