$color-primary: #DD5A55;
$color-black: #333333;
$color-paper: #F2F1ED;
$color-gray: #7F7F7F;

a {
 color: $color-primary;
  text-decoration: none;
}
a:hover {
  color: $color-primary;
  text-decoration: underline;
  text-weight: 500;
}
a.anchor-destination {
  color: $color-black;
}
.fake-link {
    cursor: pointer;
} 
a.external-link {
  color: $color-black;
}
a.external-link:hover {
  color: $color-primary;
}
div.sharing-links a {
  color: white;
}
div.sharing-links i {
  color: $color-primary;
}

.listbox {
  border-radius: 5px;
  background-color: $color-paper;
}

.boxheader {
  padding: 5px;
  background-color: $color-paper;
  border-bottom: 1px solid $color-primary;
  padding-bottom: 12px;
  max-height: 95px; /* not sure if this is a good idea.. */
}

.candidate-link-index {
  color: $color-black;
  text-decoration: underline;
  text-weight: 400;
}

a.candidate-link-index:hover {
  color: $color-primary;
  text-decoration: underline;
  text-weight: 500;
}

.col-md-3 {
    padding-left: 5px;
    padding-bottom: 25px;
}

.row {
  margin-bottom: 25px;
}

.navbar {
  background-color: $color-black;
}

img.candidate-image {
  width: auto;
  height: 5em;
  float: left;
  margin-right: 0.5em;
  padding: 3px;
  background: #FFF;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-shadow: 1px 1px 2px rgba(0,0,0,.2);
  border-radius: 4px;
}

.candidate-fa-index {
  float: left;
  width: auto;
  margin-right: 0.12em;
  max-heigth: 1em;
}

h3.candidate-name {
  font-size: 15px;
  font-family: "Lato","Helvetica Neue",Arial,sans-serif;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 10px;
}

p.candidate-content-index {
  padding: 5px 10px 10px 10px;
  line-height: 150%
}

div.header {
  color: $color-black;
}

#header-container {
  width: 100%;
  margin: 0px auto;
}
#constituency-header {
  font-size: 50px;
  text-align: right;
  margin-right: 10px;
  margin-top: 5px;
}

.index-header {
  background-color: $color-black;
  margin-bottom: 5px;
}

img.party-image-index {
  width: 50px;
  height: 50px;
}

.twitter-section {
  width: 100%;
  background-color: $color-gray;
  padding-top: 50px;
}

.social-section {
  width: 100%;
  background-color: white;
  padding-top: 50px;
}

div.index-footer {
        width: 100%;
        padding: 10px 0 10px 0;
        text-align: center;
        font-size: 11px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: $color-black;
  background-color: $color-primary;
}

.nav-pills > li > a { 
  color: $color-black;
}

.navbar-header > li > a {
  color: $color-gray;
}
#topmenutext {
  color: white;
  padding-left: 15px;
}

.list-group-item {
  padding: 5px 5px 5px 7px;
  background-color: $color-paper;
}

/*
i.fa {
  color: $color-black;
}
*/

/* For the constituency list */

p.infotext {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

input.search {
  font-family: 'FontAwesome';
  width: 300px;
}

ul.list {
  list-style-type: none;
  padding: 0px;
}

ul.list li {
  width: 315px;
  float: left;
  font-size: 15px;
}

p.name {
  margin: 0 0 15px;
}

i.fa-candidate-list {
  font-size: 18px;
  margin-right: 7px;
  color: $color-primary;
}

.no-transition {
  -webkit-transition: height 0.001s;
  -moz-transition: height 0.001s;
  -ms-transition: height 0.001s;
  -o-transition: height 0.001s;
  transition: height 0.001s;
}


/* Navbar for choosing comparison on small screens */
.navbar-form input, .form-inline input {
        width:auto;
}
.navbar-wrapper {
  height: 65px;
  padding-left: 15px;
  padding-right: 15px;
}
#nav-xs.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}
#nav-xs.affix-top {
  position: static;
}
#nav-xs.affix-bottom {
  position: absolute;
  width: 100%;
}
.navbar-nav {
    margin:0;
}
.navbar-nav>li {
    float:none;
    display:inline-block;
}
.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* Undo bootstrap collapsed dropdown menus */ 
.navbar .navbar-nav .open .dropdown-menu { 
  position: absolute; 
  float: left; 
  background-color: #fff; 
  border: 1px solid #ccc; 
  border: 1px solid rgba(0, 0, 0, .15); 
  border-width: 0 1px 1px; 
  border-radius: 0 0 4px 4px; 
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175); 
} 
.navbar-default .navbar-nav .open .dropdown-menu > li > a { 
  color: $color-black;
} 
.navbar .navbar-nav .open .dropdown-menu > li > a:hover, 
.navbar .navbar-nav .open .dropdown-menu > li > a:focus, 
.navbar .navbar-nav .open .dropdown-menu > .active > a, 
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover, 
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus { 
  color: $color-black !important; 
  background-color: $color-primary !important; 
} 
.navbar .navbar-nav .open .dropdown-menu > .disabled > a, 
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover, 
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus { 
  color: #999 !important; 
  background-color: transparent !important; 
} 
