$color-primary: #DD5A55;
$color-black: #333333;
$color-paper: #F2F1ED;
$color-gray: #7F7F7F;

.listbox {
  border-radius: 5px;
  background-color: $color-paper;
}

.boxheader {
  padding: 5px;
  background-color: $color-paper;
  border-bottom: 1px solid $color-primary;
  padding-bottom: 12px;
  max-height: 95px; /* not sure if this is a good idea.. */
}

.candidate-link-index {
  color: $color-black;
  text-decoration: underline;
  text-weight: 400;
}

a.candidate-link-index:hover {
  color: $color-primary;
  text-decoration: underline;
  text-weight: 500;
}

.col-md-3 {
    padding-left: 5px;
    padding-bottom: 25px;
}

.row {
  margin-bottom: 25px;
}

.navbar {
  background-color: $color-paper;
}

img.candidate-image {
  width: auto;
  height: 5em;
  float: left;
  margin-right: 0.5em;
  padding: 3px;
  background: #FFF;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-shadow: 1px 1px 2px rgba(0,0,0,.2);
  border-radius: 4px;
}

.candidate-fa-index {
  float: left;
  width: auto;
  margin-right: 0.12em;
  max-heigth: 1em;
}

h3.candidate-name {
  font-size: 15px;
  font-family: "Lato","Helvetica Neue",Arial,sans-serif;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 10px;
}

p.candidate-content-index {
  padding: 5px 10px 10px 10px;
  line-height: 150%
}

div.header {
  color: $color-black;
}

#constituency-header {
  font-size: 50px;
  text-align: right;
  margin-right: 80px;
}

img.party-image-index {
  width: 50px;
  height: 50px;
}

.twitter-section {
  width: 100%;
  background-color: $color-gray;
  padding-top: 50px;
}

.social-section {
  width: 100%;
  background-color: white;
  padding-top: 50px;
}

div.index-footer {
        width: 100%;
        padding: 10px 0 10px 0;
        text-align: center;
        font-size: 11px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: $color-black;
  background-color: $color-primary;
}

.nav > li > a { 
  color: $color-black;
}

.list-group-item {
  padding: 5px 5px 5px 7px;
  background-color: $color-paper;
}

i.fa {
  color: $color-black;
}
